aniso8601==9.0.1
atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
#cffi==1.14.4
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==4.1.0
flask-marshmallow==0.14.0
flask-restx==0.2.0
Flask-SQLAlchemy==2.5.1
importlib-metadata==3.1.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.2
packaging==20.7
pluggy==0.13.1
py==1.9.0
pycparser==2.20
PyJWT==2.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-mock==3.5.1
pytz==2021.1
six==1.15.0
SQLAlchemy==1.4.2
toml==0.10.2
webargs==7.0.1
Werkzeug==1.0.1
zipp==3.4.1
marshmallow-enum==1.5.1
firebase-admin==5.0.1